
/* sidebar */
.sidebar {
    max-width: 300px;
    padding: 25px;
    background-color: #f5f5f5;
    height: 100%;  
}

/* image */
img {
    position: relative;
    right: 4px;
    border-radius: 50%;

}
/* links in the sidebar */
.relative-links {
    position: relative;
    left: 18px;
    background-color: white;
    height: 50%;
    padding-left: 24px;
    margin-left: -30px;
    padding-top: 38px;
    border-radius: 30px;
    font-size: 18px;
}

/* h2 in sidebar */
.sidebar h2 {
    margin-top: 20px;
}
/* a links in sidebar */
.sidebar a {
    display: block;
    padding: 10px 0;
    color: #3273dc;
    text-decoration: none;
}

/* hover effects on links */
.sidebar a:hover {
    opacity: 0.8;
}

h1 {
    padding-bottom: 32px;
}

/* content */
.section-1 {
    padding: 20px;
}

/* footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

h4 {
    margin-bottom: 18px;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}

footer a {
    margin-right: 30px;
}

/* Icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* hover effect for icons */
  .fa:hover {
    opacity: 0.7;
  }
  
  /*  color for each icon */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  .fa-youtube {
    background-color: red;
    color: white;
  }
  .fa-instagram {
    background-color: #3273dc;
    color: white;
  }
  .articleTitle {
    display:inline-flexbox;
    font-weight: bolder;
    padding-left: 30px;
  }

  .xml{
    padding-top: 10px;
  }
  .article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid, 1px, rgb(255, 255, 255);
    padding-inline: 5px;
    width: 400px;
    height: 400px;

  }
  .subtitle {
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
  }
  .title.is-1 {
    padding-bottom: 5px;
  }
  
    .modal {
    text-align: center;

  }
    .modal-content {
        background-color: rgb(255, 255, 255);
        border: solid;
    }  